<a href="http://www.gameologist.com/portfolio/ggj2012/past-life/Main.swf"><center><img src="http://i.imgur.com/1sVUu.png"></center></a>

<a class="btn" href="http://www.gameologist.com/portfolio/ggj2012/past-life/Main.swf" target="_blank">Play the game!</a>
<hr/>

<h2>Instructions</h2>
<p>The character is trapped in a semi-reincarnated reality. He is a true "shadow" of himself. In order to regain his humanity he must travel a path of enlightenment.</p>
<p>The character is controlled by the arrow keys and can choose to kill himself and be reincarnated by pressing:</p>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>Button</th>
      <th>Action</th>
    </tr>
  </thead>
  <tr>
    <td><a class="btn small">→</a></td>
    <td>move right</td>
  </tr>
  <tr>
    <td><a class="btn small">←</a></td>
    <td>move left</td>
  </tr>
  <tr>
    <td><a class="btn small">↑</a></td>
    <td>jump up</td>
  </tr>
  <tr>
    <td><a class="btn small">TAB</a></td>
    <td>select sacrafice</td>
  </tr>
  <tr>
    <td><a class="btn small">SPACE</a></td>
    <td>use sacrafice</td>
  </tr>
</table>

Reach the flag to exit each stage.
