<center><img src="http://globalgamejam.org/sites/default/files/uploads/2012/4062/Untitled.png?1327817370"></center>

<p><a href="Download the game">Download the game</a> and run main.html in the release folder.</p>
<h2>Instructions</h2>
<p>The character is trapped in a semi-reincarnated reality. He is a true "shadow" of himself. In order to regain his humanity he must travel a path of enlightenment.</p>
<p>The character is controlled by the arrow keys and can choose to kill himself and be reincarnated by pressing:</p>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>Button</th>
      <th>Action</th>
    </tr>
  </thead>
  <tr>
    <td><a class="btn small">→</a></td>
    <td>move right</td>
  </tr>
  <tr>
    <td><a class="btn small">←</a></td>
    <td>move left</td>
  </tr>
  <tr>
    <td><a class="btn small">↑</a></td>
    <td>jump up</td>
  </tr>
  <tr>
    <td><a class="btn small">Q</a></td>
    <td>explode</td>
  </tr>
  <tr>
    <td><a class="btn small">W</a></td>
    <td>turn into a platform</td>
  </tr>
  <tr>
    <td><a class="btn small">E</a></td>
    <td>Set spawn point</td>
  </tr>
  <tr>
    <td><a class="btn small">R</a></td>
    <td>turn into a tree</td>
  </tr>
</table>

Reach the flag to exit each stage.
