<table class="zebra-striped">
  <thead>
    <tr>
      <th>Thing</th>
      <th>Count</th>
    </tr>
  </thead>

  <!--<tr>
    <td>total_players</td>
    <td><%= @total_players %></td>
  </tr>-->

  <% @stats.each do |stat| %>
    <tr>
      <td><%= stat.name %></td>
      <td><%= stat.counter %></td>
    </tr>
  <% end %>
</table>

<center><img src="http://i.imgur.com/NdW3R.jpg"></center>