<script src="js/jquery/jquery.tablesorter.min.js"></script>
<script >
  $(function() {
    $("table#sortTableExample").tablesorter({ sortList: [[0,0]] });
  });
</script>
<table class="zebra-striped" id="sortTableExample">
  <thead>
    <tr>
      <th>Thing</th>
      <th>Count</th>
    </tr>
  </thead>

  <!--<tr>
    <td>total_players</td>
    <td><%= @total_players %></td>
  </tr>-->

  <% @stats.each do |stat| %>
    <tr>
      <td><%= stat.name.gsub("_", " ") %></td>
      <td><%= stat.counter %></td>
    </tr>
  <% end %>
</table>